<div class="card fixed-bottom">
  <div class="card-header">
    <p>NodeJS Authentication System</p>
    <p>&#169; All Rights Reserved</p>
    <footer class="blockquote-footer">
      <cite title="Source Title">Anuj Joshi</cite>
    </footer>
  </div>
</div>
