<blockquote
  class="blockquote bg-success p-2 text-dark bg-opacity-50 text-center"
>
  <h1 class="display-6 my-5 text-light">
    Almost there … Please check your email to confirm your account. If you
    haven't received our email in 15 minutes, please check your spam folder.
  </h1>
</blockquote>
