<blockquote class="blockquote text-bg-secondary text-center">
  <h1 class="display-3">Reset Password</h1>
</blockquote>
<% if (!token) { %>

<h1 class="display-3">Token Expired!!!</h1>
<p>Please try again</p>

<% } else if (token.isValid) { %>
<form
  class="w-25 m-auto mt-5 border border-light border-3"
  action="/users/reset_password/<%= token.token %>"
  method="POST"
>
  <div class="row mb-3 m-auto">
    <label for="inputPassword3" class="col-sm-6 col-form-label">Password</label>
    <div class="col-sm-6">
      <input
        type="password"
        name="password"
        placeholder="Password"
        required
        class="form-control"
        id="inputPassword3"
      />
    </div>
  </div>
  <div class="row mb-3 m-auto">
    <label for="confpass" class="col-sm-6 col-form-label">
      Confirm Password</label
    >
    <div class="col-sm-6">
      <input
        type="password"
        name="confirm_password"
        placeholder="Confirm Password"
        required
        class="form-control"
        id="confpass"
      />
    </div>
  </div>
  <div class="col-5 mt-3 mx-auto">
    <button type="submit" class="btn btn-primary">Reset Password</button>
  </div>
</form>
<% } else { %>
<h1 class="display-3">Token Expired!!!</h1>
<p>Please try again</p>
<% } %>
